{% extends "base.html" %}

{% block page_content %}
    <div class="contianer py-5">
        <h1 class="text-center mb-5">Products</h1>
        <div class="row g-4">
        {% for product in products %}
    	    <div class="col-md-4 col-sm-6">
                <div class="card shadow-sm h-100">
                    <img src="{{ product.image }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <a href="{% url 'product_detail' product.pk %}" class="btn btn-primary btn-sm">More Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    </div>
{% endblock %}