{% extends "base.html" %}

{% block page_content %}
	<h1>Products</h1>
    <div class="row">
    {% for product in products %}
    	<div class="col-md-4">
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <a href="{% url 'product_detail' product.pk %}" class="btn-primary">More Details</a>
                </div>
            </div>
        </div>
    {% endfor %}

    </div>
{% endblock %}